.inf {
    background-image: url(back.jpg);
    width: 100%;
    height: 500px;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.team {
    background-color:darkseagreen;
    width: 100%;
    height: 650px;
}

.pic1 {
    align-self:center;
    width: 200px;
    height: 200px;
}

.pic2 {
    align-self: center;
    width: 200px;
    height: 200px;
}

.pic3 {
    align-self: center;
    width: 200px;
    height: 200px;
}